/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_light {
  --bg-color: #fff1f7;
  --accent-color: #ff8dcb;
  --base-color: var(--text-color);
  --text-color: #353430;
  --text-decor-color: var(--text-color);
  --logo-color: #ffc2e6;
  --logo-shadow-color: #ff0070;
  --cover-image: url(../images/cover-image-light.png);
}
