.page {
  background-color: var(--bg-color);
  background-image: var(--bg-image);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  font-family: "IBM Plex mono", monospace;
  max-width: 100%;
}

.header {
  position: relative;
  height: 100vh;
  min-height: 668px;
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  padding: var(--padding-content);
  margin-bottom: 40px;
  align-items: center;
}


.decorated-zone::before, 
.decorated-zone::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  border: 1px solid var(--main-text-color);
}

.decorated-zone::before {
  top: var(--padding-content);
  right: var(--padding-content);
  border-left: none;
  border-bottom: none;
}

.decorated-zone::after {
  bottom: var(--padding-content);
  left: var(--padding-content);
  border-right: none;
  border-top: none;
}

.header__decoration-rec {
  display: flex;
  position: absolute;
  right: calc(var(--padding-content) + 19px);
  top: calc(var(--padding-content) + 1px);
  text-transform: uppercase;
  color: var(--rec-color);
  font-size: 18px;
  font-weight: normal;
}

.header__decoration-rec::after {
  content: '';
  position: relative;
  display: block;
  top: 7px;
  left: 10px;
  border-radius: 50%;
  width: 9px;
  height: 9px;
  background-color: var(--rec-color);
  box-shadow: 0 0 4px 2px var(--rec-color);
}

.header__theme-menu {
  align-self: center;
  justify-self: end;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.header__theme-menu-button {
  cursor: pointer;
  background-color: transparent;
  border: none;
  color: var(--main-text-color);
  font-size: 18px;
  text-transform: lowercase;
  font-family: inherit;
  font-weight: 400;
  line-height: 100%;
  padding: 1.5px 13px;
}

.header__theme-menu-button_active {
  outline: 1px var(--main-text-color) solid;
  pointer-events: none;
}

.header__title {
  display: block;
  color: var(--titles-color);
  text-shadow: 4px 4px 0px var(--accent-color);
  font-size: var(--font-size);
  font-style: normal;
  font-weight: 700;
  line-height: 82.5%;
}

.header__description {
  display: block;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
}

.title-decor {
  background-color: var(--accent-color);
  color: var(--heading-color);
}

.main {
  padding: 0 var(--padding-content);
  display: grid;
  grid-template-columns: 1fr;
  gap: 50px;
  margin-bottom: 40px;
}

.card-group {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.card-group-title {
  color: var(--main-text-color);
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
}

.card-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.card-list-item {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.card-title {
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
}

.card-description {
  color: var(--text-color);
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  line-height: 130%;
}

.card-title-thin {
  font-weight: 400;
}

.image-list {
  gap: 10px;
}

.card-image {
  width: 100%;
  height: 100%;
}

.footer {
  position: relative;
  min-width: 100%;
  height: 100vh;
  min-height: 668px;
  display: grid;
  padding: 10px;
  align-items: center;
}

.footer__title {
  text-align: center;
  color: var(--titles-color);
  display: block;
  text-shadow: 2px 2px 0px var(--accent-color);
  font-size: var(--font-size);
  font-style: normal;
  font-weight: 700;
  line-height: 82.5%;
}

.link-decoration {
  color: var(--text-color);
  text-shadow: 2px 2px 0px var(--accent-color);
  font-family: 'IBM Plex Mono', monospace;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration: none;
}

@media (width > 767px) {

  .header {
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 60px;
  }

  .header__theme-menu {
    grid-column-end: -1;
  }

  .header__title {
    margin-left: -20px;
    grid-column-start: 1;
    grid-column-end: -1;
  }
  
  .header__description {
    grid-column-start: 2;
  }

  .main {
    gap: 80px;
    margin-bottom: 60px;
  }

  .card-group {
    display: grid;
    grid-template-columns: 1fr 2fr;
  }

  .card-group-title-upper .card-list {
    grid-column-start: 1;
    grid-column-end: 3;
  }

  .image-list {
    grid-column: 1/3;
    display: grid;
    grid-template-rows: 23px auto auto auto;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }

  .card-image {
    object-fit: cover;
  }

  .card-title {
    grid-row: 1;
    grid-column: 1/-1;
  }

  .image-list :nth-child(2) {
    grid-row: 2;
    grid-column: 1/3;
  }

  .image-list :nth-child(3) {
    grid-row: 2/4;
    grid-column: 3;
  }

  .image-list :nth-child(4) {
    grid-row: 3/6;
    grid-column: 1;
  }

  .image-list :nth-child(6) {
    grid-row: 4/6;
    grid-column: 2/4;
  }
}

@media (width > 1023px) {

  .header,
  .footer {
    --font-size: clamp(9.8125rem, 9.351rem + 0.7212vw, 10rem);
  }

  .header__theme-menu {
    grid-column: 1/3;
    align-self: start;
    justify-self: center;
  }

  .header__theme-menu-list {
    flex-direction: row;
    gap: 10px;
  }

  .card-less-fraction {
    grid-template-columns: 0.98fr 2.02fr;
  }

  .card-group-title-upper .card-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (width > 767px) {
  :root {
    --padding-content: 20px;
  }
}

button:hover {
  outline: 1px solid var(--hover-color);
}

button:focus {
  outline: none;
}

.link-decoration:focus {
  outline: none;
}

.link-decoration:hover {
  border-bottom: 1px solid var(--text-color);
}

button:focus-visible {
  border-bottom: 1px solid var(--main-text-color);
  outline: none;
}

.link-decoration:focus-visible {
  outline: 1px solid var(--text-color);
}