:root {
  --accent-color: #ff0070;
  --padding-content: 10px;
  --bg-image: url("../images/cover-image-dark.png");
  --titles-color: #db00ff;
  --bg-color: #000028;
  --rec-color: #ff0070;
  --main-text-color: #ff0070;
  --text-color: #f1b2ce;
  --hover-color: rgba(255, 0, 112, 0.4);
  --font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  --heading-color: #000028;
}
